<p id="notice"><%= notice %></p>

<h1>Oferta Laborals</h1>

<table>
  <thead>
    <tr>
      <th>Cargo</th>
      <th>Descripcion</th>
      <th>Vacantes</th>
      <th>Rango minimo</th>
      <th>Rango maximo</th>
      <th>Fecha inicio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @oferta_laborals.each do |oferta_laboral| %>
      <tr>
        <td><%= oferta_laboral.cargo %></td>
        <td><%= oferta_laboral.descripcion %></td>
        <td><%= oferta_laboral.vacantes %></td>
        <td><%= oferta_laboral.rango_minimo %></td>
        <td><%= oferta_laboral.rango_maximo %></td>
        <td><%= oferta_laboral.fecha_inicio %></td>
        <td><%= link_to 'Show', oferta_laboral %></td>
        <td><%= link_to 'Edit', edit_oferta_laboral_path(oferta_laboral) %></td>
        <td><%= link_to 'Destroy', oferta_laboral, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Oferta Laboral', new_oferta_laboral_path %>
